<aside id="layout-menu" class="layout-menu menu-vertical menu">
    <div class="app-brand demo">
        <a href="/dashboard" class="app-brand-link">
            <span class="app-brand-logo demo">
                <img src="/assets/img/bzzco_logo.png" alt="" width="150" class="logo-img mt-4">
                
            </span>
            <span class="app-brand-text demo menu-text fw-semibold ms-2"></span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M8.47365 11.7183C8.11707 12.0749 8.11707 12.6531 8.47365 13.0097L12.071 16.607C12.4615 16.9975 12.4615 17.6305 12.071 18.021C11.6805 18.4115 11.0475 18.4115 10.657 18.021L5.83009 13.1941C5.37164 12.7356 5.37164 11.9924 5.83009 11.5339L10.657 6.707C11.0475 6.31653 11.6805 6.31653 12.071 6.707C12.4615 7.09747 12.4615 7.73053 12.071 8.121L8.47365 11.7183Z"
                    fill-opacity="0.9" />
                <path
                    d="M14.3584 11.8336C14.0654 12.1266 14.0654 12.6014 14.3584 12.8944L18.071 16.607C18.4615 16.9975 18.4615 17.6305 18.071 18.021C17.6805 18.4115 17.0475 18.4115 16.657 18.021L11.6819 13.0459C11.3053 12.6693 11.3053 12.0587 11.6819 11.6821L16.657 6.707C17.0475 6.31653 17.6805 6.31653 18.071 6.707C18.4615 7.09747 18.4615 7.73053 18.071 8.121L14.3584 11.8336Z"
                    fill-opacity="0.4" />
            </svg>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboards -->

        <li class="menu-header small mt-5">
            <span class="menu-header-text">Stats</span>
        </li>
        <li class="menu-item <%= currentPage === 'dashboard' ? 'active' : '' %>">
            <a href="/dashboard" class="menu-link">
                <i class="menu-icon icon-base ri ri-home-smile-line"></i>
                <div>Dashboard</div>
            </a>

        </li>

        <li class="menu-header small mt-5">
            <span class="menu-header-text">Users</span>
        </li>

        <li class="menu-item <%= ['view-customers'].includes(currentPage) ? 'active open' : '' %>">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon icon-base ri ri-user-line"></i>
                <div>Customers</div>
            </a>

            <ul class="menu-sub">
                <li class="menu-item <%= currentPage === 'view-customers' ? 'active' : '' %>">
                    <a href="/view-customers" class="menu-link">
                        <div>Customers list</div>
                    </a>
                </li>


            </ul>
        </li>

        <li class="menu-item <%= ['view-sellers'].includes(currentPage) ? 'active open' : '' %>">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon icon-base ri ri-user-star-line"></i>
                <div>Sellers</div>
            </a>

            <ul class="menu-sub">
                <li class="menu-item <%= currentPage === 'view-sellers' ? 'active' : '' %>">
                    <a href="/view-sellers" class="menu-link">
                        <div>Sellers list</div>
                    </a>
                </li>


            </ul>
        </li>


        <li class="menu-header small mt-5">
            <span class="menu-header-text">Products and Stock</span>
        </li>
        <li class="menu-item <%= ['view-products', 'add-product'].includes(currentPage) ? 'active open' : '' %>">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon icon-base ri ri-box-3-line"></i>
                <div>Products</div>
            </a>

            <ul class="menu-sub">
                <li class="menu-item <%= currentPage === 'view-products' ? 'active' : '' %>">
                    <a href="/view-products" class="menu-link">
                        <div>Products list</div>
                    </a>
                </li>
                <li class="menu-item <%= currentPage === 'add-product' ? 'active' : '' %>">
                    <a href="/add-product" class="menu-link">
                        <div>New product</div>
                    </a>
                </li>
                <li class="menu-item <%= currentPage === 'view-categories' ? 'active' : '' %>">
                    <a href="/view-categories" class="menu-link">
                        <div>Categories</div>
                    </a>
                </li>


            </ul>
        </li>

        

        <li class="menu-item <%= ['view-orders', 'add-order'].includes(currentPage) ? 'active open' : '' %>">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon icon-base ri ri-order-play-line"></i>
                <div>Orders</div>
            </a>

            <ul class="menu-sub">
                <li class="menu-item <%= currentPage === 'view-orders' ? 'active' : '' %>">
                    <a href="/view-orders" class="menu-link">
                        <div>Orders list</div>
                    </a>
                </li>
                <li class="menu-item <%= currentPage === 'add-order' ? 'active' : '' %>">
                    <a href="/add-order" class="menu-link">
                        <div>Add new</div>
                    </a>
                </li>


            </ul>
        </li>

        <li class="menu-header small mt-5">
            <span class="menu-header-text">Finances</span>
        </li>
        <li class="menu-item <%= currentPage === 'view-payments' ? 'active' : '' %>">
            <a href="/view-payments" class="menu-link">
                <i class="menu-icon icon-base ri ri-bank-card-line"></i>
                <div>Payments</div>
            </a>
        </li>

        <li class="menu-item <%= currentPage === 'view-invoices' ? 'active' : '' %>">
            <a href="/view-invoices" class="menu-link">
                <i class="menu-icon icon-base ri ri-bill-line"></i>
                <div>Invoices</div>
            </a>
        </li>

        <li class="menu-header small mt-5">
            <span class="menu-header-text">Dynamic Data</span>
        </li>

        <li class="menu-item <%= currentPage === 'view-team' ? 'active' : '' %>">
            <a href="/view-team" class="menu-link">
                <i class="menu-icon icon-base ri ri-team-line"></i>
                <div>Team</div>
            </a>

        </li>

        <li class="menu-item <%= currentPage === 'view-cities' ? 'active' : '' %>">
            <a href="/view-cities" class="menu-link">
                <i class="menu-icon icon-base ri ri-pin-distance-line"></i>
                <div>Cities</div>
            </a>
        </li>

        <li class="menu-item <%= currentPage === 'view-countries' ? 'active' : '' %>">
            <a href="/view-countries" class="menu-link">
                <i class="menu-icon icon-base ri ri-flag-line"></i>
                <div>Countries</div>
            </a>
        </li>



        <li class="menu-header small mt-5">
            <span class="menu-header-text">Other</span>
        </li>
        <li class="menu-item <%= currentPage === 'view-documentation' ? 'active' : '' %>">
            <a href="/view-documentation" class="menu-link">
                <i class="menu-icon icon-base ri ri-article-line"></i>
                <div>Documentation</div>
            </a>
        </li>


    </ul>
</aside>